<h1>Burndownchart#index</h1>

<%= link_to "issues", issues_path(repo: params[:repo]) %>

<p>open: <%= @open_total_points %></p>
<p>closed: <%= @closed_total_points %></p>

<canvas id="myChart" width="300" height="150"></canvas>
<script>
var ctx = document.getElementById("myChart").getContext("2d");
ctx.canvas.width = 300;
ctx.canvas.height = 150;
var myChart = new Chart(ctx, {
  type: 'line',
  data: {
    labels: <%= raw @data_labels  %>,
    datasets: [
      {
        label: "計画",
        backgroundColor: "rgba(220,220,220,0.2)",
        borderColor: "rgba(220,220,220,1)",
        data: <%= raw @dataset1 %>
      },
      {
        label: "実績",
        backgroundColor: "rgba(151,187,205,0.2)",
        borderColor: "rgba(151,187,205,1)",
        data: <%= raw @dataset2 %>
      },
    ],
  },
});
</script>
